.fondo{
     background-image: url(./Images/ImagenEditada.png);
     background-repeat: no-repeat;
     background-size: 100% ; 
}
.bordeer{
     border: solid;
}
.bg_Per{
     background-color: #f8f8fa;
}